@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="map">
    <iframe
        src="@Model.Value("googleMapsUrl")"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>