@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="newsletter">
    <div class="container">
        <div class="section-title">
            <h1>Get News Updates By Signup</h1>
        </div>
        <div class="body">
            <input type="text" placeholder="username@domain.com">
            <button type="submit" class="btn-theme">Subscribe<i class="fa-sharp fa-regular fa-arrow-up-right"></i></button>
        </div>
    </div>
        <img class="newsletter-effects" src="~/images/effects/Newsletter-element.svg" alt="">
</section>