@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ChooseUs)Model.Content;
}

<div class="icon-box">
    <div class="icon">
        <i class="@content.Value("whyChooseUsIcon")"></i>
    </div>
    <div class="text-box">
        <h5>@content.Value("whyChooseUsTitle")</h5>
        <p>@content.Value("whyChooseUsDescription")</p>
    </div>
</div>